In [134]:
import pandas as pd
import streamlit as st
from gdeltdoc import GdeltDoc, repeat, Filters, near
from datetime import datetime, timedelta

In [9]:
gd = GdeltDoc()

In [41]:
inicio_dias = datetime(2017, 1, 1)
yesterday = datetime.now() - timedelta(2)
fecha_inicio_imp, first_date, fecha_inicio = datetime.strftime(inicio_dias, "%d-%B-%Y"), datetime.strftime(inicio_dias, "%Y %b %d"), datetime.strftime(inicio_dias, "%Y-%m-%d")
fecha_fin_imp, last_date, fecha_fin = datetime.strftime(yesterday, "%d-%B-%Y"), datetime.strftime(yesterday, "%Y %b %d"), datetime.strftime(yesterday, "%Y-%m-%d")

In [186]:
fecha_inicio = "2017-01-01"

In [173]:
etnia = "Maasai"

In [187]:
fecha_inicio

'2017-01-01'

In [192]:
f = Filters(
start_date = fecha_inicio,
end_date = fecha_fin,
#keyword = ["Zulu", "zulu"],
num_records = 20,
#theme = "TAX_ETHNICITY_INDIGENOUS",
near = near(10, etnia, "Kenya"),
#repeat = repeat(2, etnia),
)
timevol = gd.timeline_search("timelinevolraw", f)
df = gd.article_search(f)
timevol

                      datetime  Article Count  All Articles
0    2017-01-01 00:00:00+00:00              4        427906
1    2017-01-02 00:00:00+00:00             10        592774
2    2017-01-03 00:00:00+00:00              3        757916
3    2017-01-04 00:00:00+00:00              4        822862
4    2017-01-05 00:00:00+00:00              3        830028
...                        ...            ...           ...
3147 2025-09-04 00:00:00+00:00              1        190882
3148 2025-09-05 00:00:00+00:00              1        192400
3149 2025-09-06 00:00:00+00:00              0        155749
3150 2025-09-07 00:00:00+00:00              1        115827
3151 2025-09-08 00:00:00+00:00              1        181958

[3152 rows x 3 columns]

In [193]:
df

,url,url_mobile,title,seendate,socialimage,domain,language,sourcecountry
0,http://spanish.xinhuanet.com/20250801/35d588d1...,,Grandes manadas de animales migran desde el Pa...,20250801T023000Z,,spanish.xinhuanet.com,Spanish,China
1,https://skift.com/2025/09/02/when-luxury-touri...,,When Luxury Tourism Leaves Locals Behind in Af...,20250902T184500Z,https://skift.com/wp-content/uploads/2022/04/4...,skift.com,English,United States
2,https://www.africanews.com/2025/08/29/elephant...,/amp/2025/08/29/elephant-forced-to-drink-beer-...,Elephant forced to drink beer at Kenyan nature...,20250829T174500Z,https://static.euronews.com/articles/stories/0...,africanews.com,English,Nigeria
3,https://www.timeout.com/news/the-kenyan-safari...,,This Kenyan Safari Lodge Has Been Crowned The ...,20250709T190000Z,https://media.timeout.com/images/106294382/ima...,timeout.com,English,United Kingdom
4,https://www.yahoo.com/lifestyle/articles/29-da...,,This 29 - day Private Jet Journey Will Take Yo...,20250905T153000Z,https://s.yimg.com/ny/api/res/1.2/bqfAU0P84VRC...,yahoo.com,English,United States
5,https://www.capitalfm.co.ke/lifestyle/2025/08/...,,Say Yes ! 5 Magical Wedding Proposal Ideas Tha...,20250819T080000Z,https://www.capitalfm.co.ke/lifestyle/files/20...,capitalfm.co.ke,English,Kenya
6,https://www.timeslive.co.za/news/africa/2025-0...,,Kenyan activist tries to block new Ritz - Carl...,20250813T063000Z,,timeslive.co.za,English,South Africa
7,https://www.standardmedia.co.ke/national/artic...,https://www.standardmedia.co.ke/amp/national/a...,Government tightens rules at Maasai Mara after...,20250820T210000Z,https://cdn.standardmedia.co.ke/images/article...,standardmedia.co.ke,English,Kenya
8,https://www.cinemablend.com/movies/halle-berry...,,Halle Berry Is Joining Forces With A DC Alum F...,20250805T183000Z,https://cdn.mos.cms.futurecdn.net/bKUwQvrbdtcW...,cinemablend.com,English,United States
9,https://www.luxurytravelmagazine.com/news-arti...,,TCS World Travel Launches Seven Continents by ...,20250811T221500Z,,luxurytravelmagazine.com,English,United States
10,https://www.capitalfm.co.ke/news/2025/07/kdf-u...,,"KDF , US troops celebrate heritage at Manda Base",20250715T214500Z,https://www.capitalfm.co.ke/news/files/2025/07...,capitalfm.co.ke,English,Kenya
11,https://www.capitalfm.co.ke/news/2025/07/world...,,World Book of Records to unveil Maasai Mara gl...,20250716T094500Z,https://www.capitalfm.co.ke/news/files/2023/08...,capitalfm.co.ke,English,Kenya
12,https://www.the-star.co.ke/news/2025-08-20-sta...,,CS Miano tightens rules after tourists block w...,20250820T200000Z,https://cdn.radioafrica.digital/image/2025/08/...,the-star.co.ke,English,Kenya
13,https://www.thestar.com.my/news/world/2025/08/...,,Kenyan activist tries to block new Ritz - Carl...,20250812T143000Z,https://apicms.thestar.com.my/uploads/images/2...,thestar.com.my,English,Malaysia
14,https://www.asiaone.com/world/kenyan-activist-...,,Kenyan activist tries to block new Ritz - Carl...,20250813T033000Z,https://media.asiaone.com/sites/default/files/...,asiaone.com,English,Singapore
15,https://thenationonlineng.net/ononogbu-assumes...,https://thenationonlineng.net/ononogbu-assumes...,Ononogbu assumes office as chairman National P...,20250803T161500Z,https://cdn.thenationonlineng.net/wp-content/u...,thenationonlineng.net,English,Nigeria
16,https://www.tanzanianewsreports.com/luxury-tou...,,"Luxury Tourism Flourishes in Africa , Yet Loca...",20250822T181500Z,,tanzanianewsreports.com,English,Tanzania
17,https://www.standardmedia.co.ke/rift-valley/ar...,https://www.standardmedia.co.ke/amp/rift-valle...,Marriott faces backlash over its luxurious saf...,20250729T060000Z,https://cdn.standardmedia.co.ke/images/article...,standardmedia.co.ke,English,Kenya
18,https://thewest.com.au/travel/pulling-back-the...,https://thewest.com.au/travel/pulling-back-the...,Pulling back the flap on the African continent,20250712T023000Z,https://images.thewest.com.au/publication/C-19...,thewest.com.au,English,Australia
19,https://www.kenyan-post.com/2025/08/cs-miano-o...,,CS MIANO orders crackdown after tourists block...,20250822T011500Z,,kenyan-post.com,English,Kenya

In [177]:
df.loc[2, "url"]

'https://www.africanews.com/2025/08/29/elephant-forced-to-drink-beer-at-kenyan-nature-park/'

In [ ]:
df